[Desktop Entry]
Name=Muview Viewer
Comment=Open OVF/OMF files
TryExec=muview
Icon=muview
Exec=muview %U
StartupNotify=true
Terminal=false
Type=Application

